.col-form-label {
    font-weight: bold;
    font-family: 'Kreon', serif;
    font-size: 18px !important;
}

.btn {
    font-family: 'Rubik', sans-serif;

}


li {
    font-family: 'Rubik', sans-serif;
}
