.content {
    text-align: left;
}

.card {
    margin-bottom: 20px;
}

.card-header {
    background-color: #C7C4D5 !important;
}

.card-title {
    font-size: 35px;
    text-align: left;
    padding-left: 30px;
    font-family: 'Kreon', serif;
}

.employeePicture {
    padding-top: 15px;
    padding-bottom: 15px;
}